@model BelPost.Models.PostalLetterCard

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/PostageStamp.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<div class="containerPostageStampCard " style="height: fit-content; overflow:hidden;">
    <div class="PostageStampCard noHover" style="width:40%; border:none;">
    <div>
        <a asp-action="Index" asp-route-type="@Model.Type"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
</svg>
Назад</a>
        </div>
        <p class="PostageStampName">@Model.Name</p>
        <p class="PostageStampNumber">Номер по катологу №@Model.Number</p>
        <p class="PostageStampNumber">Дата ввода в оборот: @Model.Date.ToString().Split(' ')[0]</p>
        @if (Model.Type == "Card")
        {
            <div class="Cirle"><p>@Model.Letter</p></div>
        }
        @if (User.IsInRole("admin"))
        {
            <div>
                <a class="btn btn-primary" asp-route-id="@Model?.Id" asp-action="Edit">Изменить</a>
                <a class="btn btn-danger" asp-route-id="@Model?.Id" asp-action="Delete">Удалить</a>
            </div>
        }
    </div>
    <div class="imgContainer" style="width:55%">
        @if (Model.Img != null)
        {
            <img style="max-height: 100%;max-width: 100%;" class="result-box" src="data:image/png;base64,@(Convert.ToBase64String(Model.Img))" />
        }

    </div>

</div>
